body {
    color: white;
}

.icon {
    color: gray;
    font-size: xx-large;
    padding-left: 90px;
}

.red-text {
    color: red;
    /* Red color for the asterisks */
}

.container1 {
    text-align: center;
}

.container {
    padding-top: 100px;
}

.box3 {
    width: calc(200% - 40px);
    /* Set width to double and account for margins */
    max-width: 800px;
    /* Optional: limit maximum width */
}

.box {
    width: 100%;
    /* Ensure the box has a width of 100% */
}


.logo {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    margin: 1rem;
}

.logo:hover {
    scale: 105%;
}