.text-white {
    text-decoration: none;
}


.text-white:hover {
    color: gray !important;

}

h5 {
    color: white;
}


.logo {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    margin: 1rem;
}

.logo:hover {
    scale: 105%;
}