* {
    font-family: cambria;
}

body {
    background: wheat;
    color: #212529;
}

.header {
    text-align: center;
    background-color: whitesmoke;
    padding: 40px;
    font-size: 150%;

}

.footer {
    text-align: center;
    background-color: whitesmoke;
    padding: 100px;
    font-size: 150%;

}

.mainBody {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    background-color: whitesmoke;
    padding: 200px;
    font-size: 300%;
}

#cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    gap: 20px;
    padding: 20px;
}

.productCard {
    width: 100%;
    max-width: 205px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #adb5bd, #6c757d);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    background: whitesmoke;
    border: 2px solid white;
    box-shadow: 1px 1px 2px black;
    overflow: hidden;

}

.productCard:hover {
    scale: 105%;
    cursor: pointer;
}

.productImage {
    z-index: 0;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.productDetails {
    z-index: 1;
    font-size: 1.5vh;
    width: 90%;
    gap: 5px;
    margin-left: 2vh;
    margin-right: 2vh;
}


.productTitle,
.productDescription,
.productPrice,
.productCategory,
.productRating {
    margin: 5px 0;
}

.buttons {
    gap: 10px;
    display: flex;
    margin: 1vh;
    justify-content: space-between
}

.buttonFavor,
.buttonCart {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 9px;
    font-weight: bold;
    color: wheat;
    background-color: black;
    border: 2px solid black;
}

.buttonFavor:hover,
.buttonCart:hover {
    scale: 105%;
    background-color: black;
    cursor: pointer;
}

#categoryButtons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: wheat;

}

#categoryButtons * {
    color: wheat;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 9px;
    font-weight: bold;
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
}

.buttonAll:hover,
.buttonBeauty:hover,
.buttonFragrances:hover,
.buttonFurniture:hover,
.buttonGroceries:hover {
    scale: 105%;
    color: rgb(170, 3, 170);
}

.line {
    width: 180px;
}

.searchBar {
    display: flex;
    justify-content: center;

}